/* Panel.module.css */
.panel {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  /* box-shadow: 0 6px 18px rgba(33, 115, 70, 0.25); */
}

/* 크기별 클래스 */
.small {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  gap: 10px;
  padding-top: 0px;
  border: 3px solid #acc8ff;
}

.medium {
  width: 200px;
  height: 40vh;
  border: 3px solid #acc8ff;
}

.large {
  width: 100%;
  height: 72vh;
}

.left {
  width: 200px;
  flex: none;
  flex-direction: column;
  height: 76vh;
  gap: 10px;
  padding: 5px;
}

/* 스크롤 필요할 때 */
.scroll {
  overflow: auto;
}