.filter_item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  /* background-color: #e6e8f0; */
}

.label {
  font-size: 13px;
  font-weight: bold;
}

.filter_item select {
  padding: 6px 10px;
  font-size: 12.5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background-color: #e6e8f0;
  /* background-color: #dbdfed */
}

.select:disabled {
  background-color: #f2f2f2;
  color: #aaa;
  cursor: not-allowed;
}