.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4px;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

.table thead {
  background-color: #f9fafb;
}

.table th,
.table td {
  border: 1px solid #e5e7eb;
  padding: 6px;
  text-align: center;
}

.table th {
  font-weight: 600;
  color: #374151;
}

.table tr:nth-child(even) {
  background-color: #fafafa;
}

.table tr:hover {
  background-color: #f3f4f6;
}

.lowCredit {
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.panel {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 20px;
  max-height: 350px;
}

.scroll {
  overflow: auto;
}

.small {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  gap: 10px;
  padding-top: 0px;
}

.medium {
  width: 200px;
  height: 40vh;
}

.large {
  width: 100%;
  height: 72vh;
}

.left {
  width: 200px;
  flex: none;
  flex-direction: column;
  height: 76vh;
  gap: 10px;
  padding: 5px;
}