.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContainer {
    position: relative;
    background-color: #ffffff;
    padding: 1.0rem;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    max-width: 650px;
    width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease-out;

}
.popupContent {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}