.button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.primary {
  background-color: #007acc;
  color: white;
}

.primary:hover:not(:disabled) {
  background-color: #005fa3;
}

.secondary {
  background-color: #1a1771;
  color: white;
}

.secondary:hover:not(:disabled) {
  background-color: #706eac;
}

.danger {
  background-color: #d9534f;
  color: white;
}

.danger:hover:not(:disabled) {
  background-color: #b52b27;
}

.excel {
  background-color: #217346;
  color: white;
}

.excel:hover:not(:disabled) {
  background-color: #2E8B57;
}