.logo {
    font-size: 35px;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    align-content: center;
}

.schoolname {
    margin-left: 1%;
    margin-right: 2%;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    /* margin-bottom: 1px; */
    color: rgb(255, 255, 255);
}

.welcome {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    color: rgb(255, 255, 255);
}

.headerArea {
    height: 5vh;
    /* background-color: #4f5781; */
    background: linear-gradient(to right, #4f5781, #4f5781f6);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    
}

.yearsCurr {
    background-color: #ffffff;
    width: 36vw;
    height: 38vh;
    border: 2px solid #acbfff;
    border-radius: 5px;
    box-shadow: 0 6px 5px rgba(121, 175, 252, 0.4);
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

.imageArea {
    background-color: #ffffff;
    border: 2px solid #988dff;
    border-radius: 5px;
    box-shadow: 0 6px 5px rgba(0, 10, 146, 0.4);
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    height: 38vh;
    width: 56vw;
}

.unionArea {
    background-color: #ffffff;
    width: 30vw;
    height: 38vh;
    border: 2px solid #787878;
    border-radius: 5px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}