.body {
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpPage {
    background-color: white;
    width: 30vw;
    height: 90vh;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    text-align: center;
}

.signUpPage h1 {
    /* justify-content: center; */
    text-align: start;
    font-size: 30px;
    color: #6c6c6c;
    margin-bottom: 50px;
}

.signUpPage h2 {
    /* justify-content: center; */
    text-align: center;
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 20px;
}

.link_text {
    color: #3b82f6;
    text-decoration: none;
}

.link_text:hover {
    text-decoration: underline;
}

.signUpPage p {
    margin-top: 1rem;
    font-size: 0.875rem;
}