.main_header {
  /* display: flex; */
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  margin-right: 150px;
}

.main_header h1 {
  font-size: 20px;
  color: #2c3e50;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}