.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  background-color: white;
  table-layout: fixed;
}

table th, table td {
  border: 1px solid #ccc;
  text-align: center;
  font-size: 11px;
  height: 25px;
}

table thead {
  background-color: #f0f0f0;
}

.table_input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 4px;
  font: inherit;
  /* background: transparent; */
  /* background: rgb(205, 222, 255); */
  text-align: center;
}
td {
  padding: 0; /* td 자체 패딩 제거 */
}

.deletebtn {
  background: transparent;
  border: none;
  color: #e74c3c;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}
.deletebtn:hover {
  color: #c0392b;
}