.progressTrack {
    width: 100%;
    height: 12px;
    background-color: #e5e7eb;
    border-radius: 9999px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    margin-left: 10px;
    flex: 1;
}

.progressBar {
    height: 100%;
    background-color: #3b82f6;
    border-radius: 9999px;
    transition: width 0.3s ease-out;
}

.progressBarP {
    /* margin: 0%; */
    margin-right: 10px;
    font-size: 14px;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}